{
  "db": {
    "mysql": {
      "host": "127.0.0.1",
      "user": "root",
      "passwd": "123456",
      "name": "dbname",
      "port": "3306",
      "charset": "utf8mb4"
    },
    "redis": {
      "host":"127.0.0.1",
      "port":"6379"
    }
  },
  "domain_name":"https://gin.dev.cn",
  "server_port":"8081"
}